/* 去除通知栏 右上角 X */
.notify-render .hope-close-button {
    display: none;
}

/*底部CSS，.App .table这三个一起的*/
/* 底部信息已全部移除 */

.App {
    min-height: 85vh;
}

.table {
    margin: auto;
}

/*去掉底部*/
.footer {
    display: none !important;
}
